body {
	height: 100%;
	width: 100%;
}

.headblock {
	padding-left: 17%;
}

.logo {
	height: auto;
	width: 180px;
	z-index: 10;
	position:relative;
	margin-top: 25px;
}
.subtext {
  font-family: Nunito, sans-serif;
	font-size: 1em;
	color: white;
  margin-top: 5px;
}


#homevid {
	margin-bottom: 50px;
	min-width:100%;
	min-height:100%;
	position:fixed; right:0; bottom:0;
	z-index: -100;
	background:url(cover.jpg);
	background-size: cover;
}
.backimage {
  background: url(../img/hero-blue-angle.jpg);
  width: 100%;
  height:100%;
  top: 0;
  background-size: cover;
  position: fixed; bottom:0; right:0; top:0;
  background-position: center;
  z-index: -100;
}

.navblock {
	bottom: 130px;
	position: absolute;
  z-index: 100;
}

.navrow {
	text-align: center;
}

.circleblock {
	padding-left: 0;
  padding-right: 0;
	position: fixed;
	top: calc(50% - 190px);
	left: calc(50% - 168px);
	width: 336px;
  height: 384px;
}

.fronttop {
  width: 0;
  border-bottom: 96px solid #191919;
  border-left: 168px solid transparent;
  border-right: 168px solid transparent;
	position: relative;
}
.frontmiddle {
  width: 336px;
  height: 192px;
  background-color: #191919;
  padding-top: 1px;
  line-height: 55px;
  text-align: center;
  font-family: 'Economica', sans-serif;
  font-size: 1em;
  color: #191919;
	margin-top: -48px;
	position: relative;
}
.frontbottom {
  width: 0;
  border-top: 96px solid #191919;
  border-left: 168px solid transparent;
  border-right: 169px solid transparent;
}

.hexmiddle {
	padding: 0 15px;
}

.indexnav {
	padding-top: 15px;
}

.hexagon h3 {
  margin-top:10px;
	font-size: 1.5em;
}

.indexnav a {
	text-decoration: none;
	color: white;
}

.hexagon h3:hover {
	color: #FACF00;
}

.hexagon {
  z-index: 5;
  top: 200px;
  transition: background-color 200ms ease, text-shadow 200ms ease;
}

.nav-icon-container {
	height: 40px;
	width: 40px;
	z-index: 40;
}

.nav-icon {
	height: 35px;
}
.nav-icon:hover .nav-path {
	fill: #FACF00;
}
.nav-path {
	fill: #FFFFFF;
}

#toptarget {
	position: relative;
}

.contact-icon {
	position: relative;
	margin-top: 9px;
	margin-left: 23px;
}

.story-icon {
	position: relative;
	margin-top: -114px;
	margin-left: 149px;
}

.methods-icon {
	position: relative;
	margin-top: 33px;
	margin-left: 278px;
}

.inspiration-icon {
	position: relative;
	margin-top: -139px;
	margin-left: 20px;
}

.hobbies-icon {
	position: relative;
	margin-top: 31px;
	margin-left: 150px;
}

.creations-icon {
	position: relative;
	margin-top: -109px;
	margin-left: 283px;
}

.nav-tooltip {
	height: 30px;
	width: 100px;
	background-color: #191919;
	position: relative;
	border-radius: 4px;
	display: none;
}

.nav-tooltip p {
	padding-top: 5px;
	font-size: 1em;
	color: white;
	text-align: center;
	font-family: "Nunito", sans-serif;
}

#contact-tooltip {
	margin-top: -226px;
	margin-left: -109px;
}
#story-tooltip {
	margin-top: -327px;
	margin-left: 116px;
}
#methods-tooltip {
	margin-top: -223px;
	margin-left: 348px;
}
#inspiration-tooltip {
	margin-top: 5px;
	margin-left: -112px;
}
#hobbies-tooltip {
	margin-top: 108px;
	margin-left: 117px;
}
#creations-tooltip {
	margin-top: 9px;
	margin-left: 346px;
}




/* .hexagon:hover .frontmiddle,
.hexagon:active .frontmiddle {
  text-shadow: 0px 1px 1px rgba(25, 25, 25, 0.4);
  background-color: #FACF00
}
.hexagon:hover .fronttop,
.hexagon:active .fronttop {
  border-bottom-color: #FACF00;
}
.hexagon:hover .frontbottom,
.hexagon:active .frontbottom {
  border-top-color: #FACF00
}

.hexagon:hover h2, .hexagon:active h2 {
  color: white;
} */

.hexshadow {
  z-index: 0;
  position: relative;
  bottom:-46px;
}
.backtop {
  width: 0;
  border-bottom: 28px solid #191919;
  border-left: 48px solid transparent;
  border-right: 48px solid transparent;
}
.backmiddle {
  width: 96px;
  height: 55px;
  background-color: #191919;
}
.backbottom {
  width: 0;
  border-top: 28px solid #191919;
  border-left: 48px solid transparent;
  border-right: 48px solid transparent;
}


.navblock h2 {
	font-family: Economica, sans-serif;
	font-size: 1em;
	color:#191919;
	text-align: center;
	text-transform: uppercase;

}

	@media (max-width: 768px) {
    .navblock .inspirehex {
      padding-right:90px;
    }
    .navblock .hobbieshex {
      padding-left:90px;
    }
    .headblock {
      padding-left: 9%;
    }
  }
	@media (max-width: 479px) {

    .logo {
			width: 150px;
			height: auto;
      margin-top: 58px;
		}
		.subtext {
			font-size: 1em;
		}
  }

/* .blackbottom {
  background-color:#191919;
  height:140px;
  min-width:100%;
  position:fixed;
  text-align: center;
  clear:both;
  z-index: 4;
  bottom: 0;
} */

@media (max-width: 768px) {
  .blackbottom {
    height: 200px;
  }
  .navblock {
    bottom: 110px;
  }
  .topthree {
    bottom:-128px;
      z-index: 100;
  }
}

@media (max-width: 479px) {
  .navblock {
    bottom: 110px;
  }
  .navblock .inspirehex {
    padding-right:65px;
  }
  .navblock .hobbieshex {
    padding-left:65px;
  }
  .topthree {
    bottom:-128px;
  }
  .navblock .storyhex {
    padding-left: 10px;
  }
  .navblock .creationshex {
    padding-right: 10px;
  }
}


/* FOOTER ------------------------------------------------*/

#footer {
  background-color:#191919;
  height:50px;
  min-width:100%;
  position:fixed;
  text-align: center;
  clear:both;
  z-index: 5;
  bottom: 0;
}

#footer p {
  font-family: 'Economica', sans-serif;
  text-transform: uppercase;
  font-size:1em;
  color:#FFFFFF;
  position:relative;
  display: inline-block;
  text-decoration: none;
  padding-top: 15px;
}

#footer p:hover {
  color:#FACF00;
}

/* CONTACT POP-UP ---------------------------------------*/

.black_overlay {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index:1001;
  -moz-opacity: 0.8;
  opacity:.50;
  filter: alpha(opacity=80);
}

.white_content {
  display: none;
  position: fixed;
	top: calc(50% - 190px);
	left: calc(50% - 168px);
	width: 336px;
  height: 384px;
  /* background-color: -webkit-linear-gradient(#f2f2f2, white);
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(25, 25, 25, 0.8); */
  z-index:1002;
}
.contacthex-top {
  width: 0;
  border-bottom: 96px solid white;
  border-left: 168px solid transparent;
  border-right: 168px solid transparent;
	position: relative;
}
.contacthex-middle {
  width: 336px;
  height: 192px;
  background-color: white;
  padding-top: 1px;
  line-height: 55px;
  text-align: center;
  font-family: 'Economica', sans-serif;
  font-size: 1em;
  color: #191919;
	margin: 0;
	position: relative;
}
.contacthex-bottom {
  width: 0;
  border-top: 96px solid white;
  border-left: 168px solid transparent;
  border-right: 169px solid transparent;
}

/* .white_content .contactcontain {
  margin: 0;
} */
/* .white_content .imgwrapper {
  padding:15px;
} */
.white_content .contactimg {
  background: url("../img/contact/beth.jpg");
  height:100px;
	width: 100px;
	border-radius: 50px;
  background-size: cover;
	background-position: top;
	margin: auto;
	margin-top: -61px;
}
.white_content h2 {
  font-family: Economica, sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  color:#191919;
}
.white_content p {
  font-family: Nunito, sans-serif;
  font-size: 1em;
  color:#191919;
	line-height: 19px;
}
.white_content a {
  text-decoration: none;
  color: gray;
	font-size: 1em;
	font-family: Nunito, sans-serif;
	display: block;
}
.white_content a:hover {
  color:#FACF00;
}
}

@media (max-width: 768px) {
  .white_content {
    width:300px;
  }
}

@media (max-width: 768px) {
  .white_content h2 {
    padding-top:0;
  }
  .white_content {
    height: 230px;
  }
}

/* Close 'x'----------------------*/

  .close-btn {
		margin-top: 10px;
		margin: auto;
    font-size: 1em;
    font-family: Nunito, sans-serif;
    color: gray;
    text-decoration: none;
}




/* Social buttons---------------------*/


.socialfooter .socialicon {
  padding-left: 0px;
  padding-right: 0px;
}

.socialfooter {
  padding-left: 62px;
  padding-right: 62px;
	display: block;
	margin: auto;
	margin-top: 10px;
}

.social-roll {
  display: inline-block;
  height: 34px;
  width: 34px;
  margin: 6px;
  float: left;
  border-radius: 50%;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.social-roll:hover {
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -o-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  transform:rotate(360deg);
}

.email-hover {
  background: url("../img/contact/email-icon.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 0;
}
.linkedin-hover {
  background: url("../img/contact/linkedin-icon.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.behance-hover {
  background: url("../img/contact/behance-icon.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.github-hover {
  background: url("../img/contact/github-icon.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.twitter-hover {
  background: url("../img/contact/twitter-icon.png");
  background-repeat: no-repeat;
  background-size: cover;
}





/* Card flip animation ===========================================*/

/* .flip-container {
	-webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: block;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
	position: fixed;
	margin: 500px;
}

.flipper {
	position: relative;
  height: 100%;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 600ms;
  transition: all 600ms;
  z-index: 20;
}

.flip-front,
.flip-back {
	position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-back {
	-webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

input {
    display: none;
}

:checked + .flipper {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
} */
